.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}
.staticNav {
  position: fixed;
  top: 0rem;
  right: 0;
  left: 0;
  height: 5rem;
  z-index: 888889;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  padding-right: 2rem;
}
.item {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 23px;
  margin-right: 2rem;
  padding: 8px;
  padding-top: 0px;
  border-radius: 12px;
  padding-bottom: 5px;
  line-height: 100%;

  transition: all 0.2s ease-in-out;
}
.hide{
    display:none ;
  }
.item:hover {
  text-decoration: none;
  color: rgb(28, 38, 31);
  font-size: 23px;
  margin-right: 2rem;
  background-color: #aeaaaa20;
}
.Subscribe {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 23px;
  background-color: green;
  margin-right: 2rem;
  padding: 15px;
  padding-top: 4px;
  border-radius: 25px;
  padding-bottom: 9px;
  line-height: 100%;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1100px) {
  .items {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: -17rem;
    bottom: 0;
    width: 17rem;
    max-width: 80vw;
    padding-top: 5rem;
    justify-content: space-around;
    align-items: center;
    margin-right: 0rem;
    background-color: rgb(255, 255, 255);
    z-index: 99999;
    height: 90vh;
  }
  .hide{
    display:block ;
  }
  .close {
    right: 0rem;
    max-width: 80vw;
    transition: all 0.4s ease-in-out;
  }
  .item {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 23px;
    margin-right: 2rem;
    padding: 8px;
    padding-top: 0px;
    border-radius: 12px;
    padding-bottom: 5px;
    line-height: 100%;

    transition: all 0.2s ease-in-out;
  }

  .item:hover {
    text-decoration: none;
    color: rgb(28, 38, 31);
    font-size: 23px;
    margin-right: 2rem;
    background-color: #aeaaaa20;
  }
  .Subscribe {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 23px;
    background-color: green;
    margin-right: 2rem;
    padding: 15px;
    padding-top: 4px;
    border-radius: 25px;
    padding-bottom: 9px;
    line-height: 100%;
    margin-bottom: 3rem;
    transition: all 0.2s ease-in-out;
  }
}
